service: just-scored

provider:
  name: aws
  runtime: go1.x
  stage: ${opt:stage, 'dev'}
  region: ${opt:region, 'us-east-1'}
  environment:
    DYNAMODB_TABLE: ${self:service}-${self:provider.stage}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: "arn:aws:dynamodb:${self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"

package:
 exclude:
   - ./**
 include:
   - ./bin/**

functions:
  goal-checker:
    description: Check for recently scored World Cup goals and add them to DynamoDB
    handler: bin/goal-checker
    events:
      # Every minute 12am to 2pm Moscow time (UTC+3)
      - schedule: cron(* 9-23 * * ? *)
  goal-notifier:
    description: Send Slack notifications about recently scored World Cup goals
    handler: bin/goal-notifier
    environment:
      SLACK_WEBHOOK_URLS: ${env:SLACK_WEBHOOK_URLS}
    events:
      - stream:
          type: dynamodb
          batchSize: 1
          startingPosition: LATEST
          arn:
            Fn::GetAtt:
              - GoalsDynamoDBTable
              - StreamArn

resources:
  Resources:
    GoalsDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE}
        AttributeDefinitions:
          -
            AttributeName: EventID
            AttributeType: N
        KeySchema:
          -
            AttributeName: EventID
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: NEW_IMAGE
